<% include ../partials/header %>

<body>
    <div class="container-fluid">
        
        <h1>
            <i class="fa fa-cogs"></i> Administration Dashboard
            <a href="<%= baseUrl %>/admin/logout" class="btn btn-warning pull-right">Logout</a>
        </h1>
        
        
    </div>
</body>
</html>