<div id="mentorpower-zakelijk"></div>
<div class="row subject">
    <div class="container">
        <h1 class="subject-title">Wat kan ik nog meer betekenen?</h1>
        <h2 class="subject-subtitle"></h2>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="text-container fixed-height-240">
                <h2><i class="fa fa-steam-square fa-2x"></i> Teambuilding</h2>
                <p>
                    Wat wilt je bereiken met het team? Maak je doelen helder,
                    leer elkaars kwaliteiten kennen, herkennen en erkennen,
                    om samen iets te bereiken.
                </p>   
            </div>
            
            <a href="" class="btn btn-mentorpower-blue btn-block">No nonsense aanpak?</a>
            
        </div>
        
        
        
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="text-container fixed-height-240">
                <h2><i class="fa fa-comments fa-2x"></i> Inspiratie</h2>
                <p>
                Altijd leuk om ervaringen te delen en meer kennis te krijgen 
                over een bepaald onderwerp, of uitgedaagd te worden om na te denken
                vanuit een ander perspectief.
            </p>   
            </div>
            
            <a href="" class="btn btn-mentorpower-orange btn-block">Mag ik bij jullie langskomen?</a>
            
        </div>
        
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="text-container fixed-height-240">
                <h2><i class="fa fa-share fa-2x"></i> Beleid</h2>
                <p>
                Beleid maken wat inspireert en uitnodigd? Maak een vliegende start
                en laat jouw beleidsteam door mij ondersteunen.
            </p>   
            </div>
            
            <a href="" class="btn btn-mentorpower-black btn-block">Kan ik jou helpen?</a>
            
        </div>
        
        
    </div>
    
    <div class="margin-bottom-50"></div>
    
</div>