<div id="artikelen-mentorpower"></div>

<div class="row subject">
    
    <div class="container">
        <h1 class="subject-title">Artikelen MentorPower</h1>
        
        <% for(var i=0; i<links.length;i++) { %>
        <a href="<%= links[i].slug %>" class="thumbnail-square" style="; background: url(<%= links[i].image %>) no-repeat; background-color: <%= links[i].backgroundColor %>">
            <p class="thumbnail-square-caption"style="">
                <%= links[i].title %>
            </p>
        </a>
    <% } %>
        <hr>
    
        
    </div>
    
    
    
</div>


