<div id="concrete-voorbeelden"></div>
<div class="row subject">
    <div class="container">
        <h1 class="subject-title">Concrete voorbeelden van een mentorschap</h1>
        <h2 class="subject-subtitle"></h2>
    </div>
</div>

<div class="container">
    <div class="row">
        <p>
        Ik geloof dat verhalen 100 keer meer vertellen dan theoretische modellen. Daarom vraag ik altijd aan de mensen, waarvoor ik mentor mag zijn, of ik hun verhaal zou mogen gebruiken om anderen te inspireren.

        Mentorschap is niet alleen iets voor het individu. Sterker nog, vaak helpt het om met elkaar ergens aan te werken, ieder vanuit zijn eigen betrokkenheid.
        </p>
        
        <hr>
    </div>
    <div class="row">
        <div class="col-md-2">
            <h3 class="visible-xs visible-sm">
                <img class="img-thumbnail" width="64" src="https://media.licdn.com/media/p/4/000/1b1/1eb/0f3031a.jpg" alt="Suzan de Jong">
                Suzan de Jong
            </h3>
            <img class="media-object img-circle visible-md visible-lg" width="128" src="https://media.licdn.com/media/p/4/000/1b1/1eb/0f3031a.jpg" alt="Suzan de Jong">
        </div>
        <div class="col-md-9 ">
            <h4 class="media-heading">Combinatie opleiding - stage - mentorschap</h4>
            <p>
                Begin 2013 stond ik echt op een kruispunt: door een grootschalige reorganisatie onder invloed van de economische crisis van mijn toenmalige werkgever, werd mijn contract na 15 jaar beëindigd. Ik moest mij oriënteren op ander werk, keuzes maken in herscholing en wilde mijzelf verder ontwikkelen. Al snel kreeg ik het idee om mij meer te bekwamen in het project- en procesmanagement, waarvoor ik een opleiding ging volgen. De vraag wat mijn nieuwe baan nou moest zijn, was een lastige vraag. Het werk dat ik deed, had hele leuke kanten zoals de inhoud: sociaal-maatschappelijke vraagstukken aanpakken en mensen betrekken bij hun leefomgeving. Ook het adviserend en dienstverlenend bezig zijn, paste erg bij mij. Ik merkte echter dat ik soms wat anders wilde qua soort werkzaamheden en verantwoordelijkheden.
            </p>
            <a href="<%= urlFor('suzan-de-jong') %>" class="btn btn-mentorpower-blue">
                <i class="fa fa-mouse-pointer faa-pulse animated"></i>
                Lees verder...
            </a>
            
            <div class="btn-group pull-right">
                
                <a href="http://www.facebook.com/sharer.php?u=http://www.mentorpower.nl" class="btn btn-primary">
                    <i class="fa fa-facebook-square fa-2x fa-fw"></i>
                </a>
                <a href="http://twitter.com/share?url=http://www.mentorpower.nl" class="btn btn-info">
                    <i class="fa fa-twitter fa-2x fa-fw"></i>
                </a>
                <a href="https://plus.google.com/share?url=http://www.mentorpower.nl" class="btn btn-danger">
                    <i class="fa fa-google fa-2x fa-fw"></i>
                </a>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://www.mentorpower.nl" class="btn btn-primary">
                    <i class="fa fa-linkedin fa-2x fa-fw"></i>
                </a>
                
                
            </div>
            
            
            
            
            
            
        </div>
    </div>
    <hr>
    
</div>


