<% include ./partials/header %>

<body>
    <% include ./partials/navigation %>
    <% include ./content/splashscreen %>
    
    <% include ./partials/breadcrumbs %>
    <div id="first-article"></div>
    <% include ./content/introduction %>
    <% include ./content/mentorpower-zakelijk %>
    <% include ./content/mentorpower-artikelen %>
    <% include ./content/voorbeelden %>
    <% include ./content/zakelijke-gegevens %>
    
</body>
</html>

