<% include ./partials/header %>

<body>
    <% include ./partials/navigation %>
    <% include ./content/splashscreen %>
    
    
    <div id="first-article"></div>
    <% include ./content/introduction %>
    <% include ./content/voorbeelden %>
    
    
    <% if(links.length > 0 ) { %>
        <% include ./content/mentorpower-artikelen %> 
    <% } %>
    
    
    
    <% include ./content/zakelijke-gegevens %>
    
</body>
</html>

